* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 70%;
}
main {
  min-width: 300px;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*estilização da segunda pagina*/
#secundHome {
  background-color: #232323;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 2fr;
  font-family: Arial, Helvetica, sans-serif;
}
#cabecalho {
  background-color: white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
#botao_dev {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20%;
  margin-top: 3%;
}
#icon {
  width: 30%;
}
#saidas {
  color: #232323;
  margin-right: 5%;
  padding: 2%;
  margin-bottom: 15%;
  background-color: transparent;
  width: 85%;
}
#saida1 {
  font-size: 3rem;
  text-align: right;
  font-weight: bold;
  background-color: transparent;
  min-height: 35px;
  width: 100%;
  margin-bottom: 2px;
  display: block;
  border: none;
  outline: none;
  color: #232323;
  margin-bottom: -6px;
}
#saida2 {
  font-size: 1.9rem;
  text-align: right;
  font-weight: normal;
  background-color: transparent;
  min-height: 30px;
  width: 100%;
  display: block;
  border: none;
  outline: none;
  color: #232323;
}
#corpo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 5%;
}
#botao_acao {
  background-color: white;
  border: none;
  border-radius: 10%;
  margin: 3%;
  font-size: 3rem;
}
#botao_acao:hover {
  background-color: rgb(192, 192, 192);
}
.btcor {
  color: #232323;
}
#apagar {
  width: 50%;
}
.btres {
  color: #ff3f44;
  font-weight: bold;
}

/*estilização da segunda pagina*/
#secundDev {
  background-color: #232323;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
#superior {
  background-color: white;
  height: 10%;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
#voltar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  width: 10%;
}
#icone_voltar {
  width: 140%;
}
#logo {
  height: 50%;
  transform: scale(1);
  margin-top: 4%;
}
#centro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#foto{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
#fotodev{
  width: 70%;
}
#titulo{
  display: flex;
  justify-content: center;
}
#titulo_dev{
  width: 40%;
}
#assinatura{
  display: flex;
  justify-content: center;
}
#fotoassina{
  margin-top: -1rem;
  width: 75%;
}
#dilema{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
#dilematxt{
  width: 80%;
}
#rodape {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
#rodapetxt{
  width: 30%;
}
