<?xml version='1.0' encoding='utf-8'?>
<widget id="com.alexappcal.junqueiro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>calapp</name>
    <description>Uma simples calculadora</description>
    <author email="tchunaartur@gmail.com" href="https://github.com/AleDev10">
        Alexandre Nicolau Armando Junqueiro
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="./www/icone/ICONE.png"></icon>
</widget>
